<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJauWRcvlEcWMtLqfuEd4P1iVNLWxSQBM&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

        google.maps.event.addListener(map, 'dragend', function() {
          center = document.getElementById("latitude").innerHTML = map.getCenter();
          lat = center.lat();
          lng = center.lng();
          jQuery.ajax({
            data: 'lat=' + lat + '&lng=' + lng,
            type: "GET",
            dataType: "json",
            url: "/photos/new_set",
            success:  function() { 
              alert( "Successful AJAX!!! ");
            },
            error: function(){
              alert('failure');
            },
            complete: function(request, textStatus) { //for additional info
              alert(request.responseText);
              alert(textStatus);
            }
          });
        });
      }

    </script>
  </head>
  <body onload="initialize()">
    <div id = "coords">Coodinates:</div>
    <div id="latitude">Map Center!</div>
    <input id="clickMe" type="button" value="clickme" onclick="changeLat();" />
    <div id="map_canvas" style="width:100%; height:100%"></div>
    <button>
  </body>
</html>