<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJauWRcvlEcWMtLqfuEd4P1iVNLWxSQBM&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        lat = 37.775;
        lng = -122.437;
        var mapOptions = {
          center: new google.maps.LatLng(lat, lng),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
        ping_ajax();

        function ping_ajax(){
          jQuery.ajax({
            data: 'lat=' + lat + '&lng=' + lng,
            type: "GET",
            dataType: "json",
            url: "/photos/new_set",
            success:  function(data) { 
              //alert( "Successful AJAX!!! " + data.url);
              document.getElementById("headline_img").src = data.url;
              document.getElementById("warnings").innerHTML = "Like em?";
            },
            error: function(data){
              //alert('failure' + data);
              document.getElementById("warnings").innerHTML = "No new images found!";
            },
            complete: function(request, textStatus) { //for additional info
              //alert(request.responseText);
              //alert(textStatus);
            }
          });
        }

        google.maps.event.addListener(map, 'dragend', function() {
          document.getElementById("warnings").innerHTML = "retrieving...";
          center = document.getElementById("latitude").innerHTML = map.getCenter();
          lat = center.lat();
          lng = center.lng();
          ping_ajax();

        });
      }

      function next_photo(){
        jQuery.ajax({
          type: "GET",
          dataType: "json",
          url: "/photos/random",
          success:  function(data) { 
            document.getElementById("headline_img").src = data.url;
            document.getElementById("warnings").innerHTML = "Like em?";
          },
          error: function(data){
            document.getElementById("warnings").innerHTML = "No new images found!";
          }
        });
      }

    </script>
  </head>
  <body onload="initialize()">
    <h3 id="warnings"></h3>
    <div id = "coords">Coodinates:</div>
    <div id="latitude">Map Center!</div>
        <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10">
          <div class="row-fluid">
            <div class="span6">
              <h2>Image!</h2>
              <img id="headline_img" width="100%" src="http://www.dumpaday.com/wp-content/uploads/2012/12/gangnam-style-funny-dancing1.jpg" />
              <p><input id="next" class="btn" type="button" value="Next" onclick="next_photo();" /></p>
            </div><!--/span-->
            <div class="span6">
              <h2>Map!</h2>
              <div id="map_canvas" style="width:100%; height:600px"></div>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Trautman Sepassi Productions 2012</p>
      </footer>

    </div><!--/.fluid-container-->
  </body>
</html>